@model BehaveTherapy.Models.Plan

@{

    ViewBag.Title = "Plan Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <br />
        <h3>Plan</h3>
        <hr />
        <dl class="dl-horizontal">
            <dt>
               Therapy Plan Name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Created)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Created.DateTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Therapist)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Therapist.FullName)
            </dd>

            <dt>
                Is Deleted
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsDeleted)
            </dd>

            <dt>
               Client
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AssignedToUser.FullName)
            </dd>
            <dt>
                Exercises
            </dt>

            @foreach (var exercise in Model.Exercises)
        {
            <dd>
                @Html.DisplayFor(model => exercise.Title)
            </dd>
    }


        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>


    <div class="table-responsive">
        <table id="mytable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>
                        Plan Name
                    </th>
                    <th>
                        Editor
                    </th>
                    <th>
                        Property
                    </th>
                    <th>
                        Old Value
                    </th>
                    <th>
                        New Value
                    </th>
                    <th>
                        Date Changed
                    </th>

                </tr>
            </thead>

            <tbody>

                @foreach (var item in Model.Histories)
            {


                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Plan.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.User.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Property)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OldValue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NewValue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Changed.DateTime)
                    </td>



                </tr>

        }
            </tbody>

        </table>
        <br />
    </div>
</body>
</html>


<script>
    $('#mytable').DataTable();
</script>

