@model BehaveTherapy.Models.Plan

@{

    ViewBag.Title = "Plan Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Plan</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Created)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Created)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Therapist)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Therapist.FullName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IsDeleted)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AssignedToUser)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AssignedToUser.FullName)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
