@model BehaveTherapy.Models.TherapyPlan

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<html>
<head>
    <meta charset="utf-8">
    <title>Home 2 | Gallaxy Responsive HTML5/CSS3 Template | FIFO THEMES</title>
    <meta name="description" content="Gallaxy Responsive HTML5/CSS3 Template from FIFOTHEMES.COM">
    <meta name="author" content="FIFOTHEMES.COM">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,700,800,900' rel='stylesheet' type='text/css'>
    <!-- Library CSS -->
    <!-- CSS -->

    <link href="~/Assets/DataTable/datatables.css" rel="stylesheet" />

    <!-- jQuery -->
    <script src="~/Assets/GALLAXY-HTML/Documentation/Gallaxy/assets/js/jquery.js"></script>

    <!-- DataTables-->
    <script src="~/Assets/DataTable/DataTables-1.10.16/js/jquery.dataTables.min.js"></script>



    <link rel="stylesheet" href="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/css/bootstrap.css">
    <link rel="stylesheet" href="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/css/bootstrap-theme.css">
    <link rel="stylesheet" href="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/css/fonts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/css/animations.css" media="screen">
    <link rel="stylesheet" href="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/css/superfish.css" media="screen">
    <link rel="stylesheet" href="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/css/revolution-slider/css/settings.css" media="screen">
    <link rel="stylesheet" href="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/css/revolution-slider/css/extralayers.css" media="screen">
    <link rel="stylesheet" href="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/css/prettyPhoto.css" media="screen">
    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/css/style.css">
    <!-- Skin -->
    <link rel="stylesheet" href="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/css/colors/green.css" class="colors">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/css/theme-responsive.css">
    <!-- Switcher CSS -->
    <link href="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/css/switcher.css" rel="stylesheet">
    <link href="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/css/spectrum.css" rel="stylesheet">
    <!-- Favicons -->
    <link rel="shortcut icon" href="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/img/ico/favicon.ico">
    <link rel="apple-touch-icon" href="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/img/ico/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/img/ico/apple-touch-icon-72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/img/ico/apple-touch-icon-114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/img/ico/apple-touch-icon-144.png">
    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/js/respond.min.js"></script>
    <![endif]-->
    <!--[if IE]>
    <link rel="stylesheet" href="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/css/ie.css">
    <![endif]-->
</head>

<body>
    GOtta pretty this form up!!!!!

    Add assign client (on submit email client!), creationdate == dateTime.Now assume THerapist ID == logged in user id!!!  Should allow add exercises at this stage? probably yes.


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>TherapyPlan</h4>
        <hr />


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Created)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AssignedToUserId, "Assign Client", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AssignedToUserId", null, new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">

            @Html.LabelFor(model => model.StartDate, "Start Date", new { @class = "control-label col-md-2" })
            <div class="col-md-4">

                <div class='input-group date' id='datetimepicker2'>

                    <input type='text' class="form-control" name="StartDate" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>


                <script type="text/javascript">
                    $(function () {
                        $('#datetimepicker2').datetimepicker();
                    });
                </script>



                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })


            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DeadlineDate, "Deadline Date", new { @class = "control-label col-md-2" })
            <div class="col-md-4">
             


                <div class='input-group date' id='datetimepicker3'>

                    <input type='text' class="form-control" name="DeadlineDate" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>


                <script type="text/javascript">
                    $(function () {
                        $('#datetimepicker3').datetimepicker();
                    });
                </script>


                @Html.ValidationMessageFor(model => model.DeadlineDate, "", new { @class = "text-danger" })
            </div>
        </div>*@




        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

            <script src="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/js/jquery.min.js"></script>
            <script src="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/js/jquery-migrate-1.0.0.js"></script>
            <script src="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/js/jquery-ui.js"></script>
            <script src="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/js/bootstrap.js"></script>
            <script src="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/js/revolution-slider/js/jquery.themepunch.plugins.min.js"></script>
            <script src="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
            <script src="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/js/jquery.parallax.js"></script>
            <script src="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/js/jquery.wait.js"></script>
            <script src="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/js/fappear.js"></script>
            <script src="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/js/modernizr-2.6.2.min.js"></script>
            <script src="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/js/jquery.bxslider.min.js"></script>
            <script src="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/js/jquery.prettyPhoto.js"></script>
            <script src="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/js/superfish.js"></script>
            <script src="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/js/tweetMachine.js"></script>
            <script src="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/js/tytabs.js"></script>
            <script src="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/js/jquery.gmap.min.js"></script>
            <script src="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/js/jquery.sticky.js"></script>
            <script src="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/js/jquery.countTo.js"></script>
            <script src="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/js/jflickrfeed.js"></script>
            <script src="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/js/imagesloaded.pkgd.min.js"></script>
            <script src="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/js/waypoints.min.js"></script>
            <script src="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/js/wow.js"></script>
            <script src="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/js/jquery.fitvids.js"></script>
            <script src="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/js/spectrum.js"></script>
            <script src="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/js/switcher.js"></script>
            <script src="~/Assets/GALLAXY-HTML/HTML/GallaxyBoxed/js/custom.js"></script>



            Is Script.Render below needed?



</body>
</html>

