@model IEnumerable<BehaveTherapy.Models.PlanIndexViewModel>


@{
    ViewBag.Title = "MyTherapyPlans";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //Layout = null;
}


<div class="main-content">
    <div class="container">

        <div class="page-content">

            <!-- Heading -->
            <div class="single-head">
                <!-- Heading -->
                <h2 class="pull-left"><i class="fa fa-desktop blue"></i> My Plans</h2>
                <!-- Bread crumbs -->
                <div class="breads pull-right">
                    @*<strong>Nav</strong> : <a href="#">Home</a> / <a href="#">Sign</a> / Home*@
                </div>
                <div class="clearfix"></div>
            </div>


            <h3>
                @if (User.IsInRole("Admin") || User.IsInRole("Therapist"))
        {
            @Html.ActionLink("Create New Plan", "Create", null, new { @class = "btn btn-success" })
            <br />
            <br />
}
            </h3>

            <h3>
                @if (User.IsInRole("Admin") || User.IsInRole("Therapist"))
        {
            @Html.ActionLink("Create New Exercise", "Create", "Exercise", new { @class = "btn btn-success" })
            <br />
            <br />
}
            </h3>

            @*<h3>
                @if (User.IsInRole("Admin") || User.IsInRole("Therapist"))
        {
            @Html.ActionLink("Register New Client", "Register", "AccountView", new { @class = "btn btn-success" })
            <br />
            <br />
}
            </h3>*@

            <table id="mytable" class="dataTables">
                <thead>
                    <tr>
                        <th>
                            Plan Name
                        </th>
                        <th>Plan Action Links</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
            {
                if (item.Plan.IsDeleted == false)
                {
                    <tr>
                        <td>

                            @Html.DisplayFor(modelItem => item.Plan.Name) | PM: @Html.DisplayFor(modelItem => item.Therapist.FullName)

                            <ul>
                                @foreach (var u in item.Plan.Users)
                        {
                            <li>
                                @u.FullName
                                @if (User.IsInRole("Admin") || User.IsInRole("Therapist"))
                        {
                            @Html.ActionLink("Remove User", "RemoveUser", "AdminPlans", new { id = item.Plan.Id, userId = u.Id }, new { @class = "btn-xs btn-warning", type = "button" })
                }
                            </li>
                }
                            </ul>

                        </td>
                        <td>

                            @if (User.IsInRole("Admin") || User.IsInRole("Plan Manager"))
                    {
                        @Html.ActionLink("Add User to Plan", "AddToPlan", "AdminPlans", new { id = item.Plan.Id }, null) <text>|</text>

                        @Html.ActionLink("Edit", "Edit", new { id = item.Plan.Id })
                        <text> | </text>
            }
                            @Html.ActionLink("Details", "Details", new { id = item.Plan.Id })

                            @if (User.IsInRole("Admin"))
                    {

                        <text>|</text>@Html.ActionLink("Delete", "Delete", new { id = item.Plan.Id })
            }
                        </td>
                    </tr>
        }
    }

                </tbody>
            </table>

            <script>
                $('#mytable').DataTable();
            </script>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
