@model IEnumerable<BehaveTherapy.Models.Exercises>

@{
    ViewBag.Title = "Exercises Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New Exercise", "Create")
    </p>


    <div class="table-responsive">
        <table id="mytable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>
                        Exercise ID
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Description
                    </th>
                   
                    <th>
                        Created
                    </th>
                    <th>
                        Updated
                    </th>
                    <th>
                        Start Date
                    </th>
                    <th>
                        Completion Date
                    </th>
                    <th>
                        Deadline Date
                    </th>
                    <th>
                        Assigned to User ID
                    </th>
                    <th>
                        File URL
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in Model)
                {


                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                  
                    <td>
                        @Html.DisplayFor(modelItem => item.Created, "{0:dd-MMM-yyyy}")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Updated, "{0:dd-MMM-yyyy}")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate, "{0:dd-MMM-yyyy}")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompletionDate, "{0:dd-MMM-yyyy}")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeadlineDate, "{0:dd-MMM-yyyy}")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssignedToUserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FileUrl)
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>

                }
            </tbody>

        </table>
    </div>
</body>
</html>


<script>
    $('#mytable').DataTable();
</script>
